
  .yt{
    font-family: roboto;
    font-weight:bold;
    font-size: 18px;
    width: 300px;
    line-height: 23px;
    margin-bottom: 5px;
  }

  .stats{
    font-family: roboto;
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;

  }

  .channel{
    font-family: roboto;
    font-size: 14px;
    margin-bottom: 20px;
    color: rgb(96, 96, 96);
  }

  .info{
    font-family: roboto;
    font-size: 14px;
    color: rgb(96, 96, 96);
    line-height: 20px;
    width: 284px;
    margin-bottom: 170px;
  }

  .apple{
    margin-bottom: 50px;
    font-family: roboto;
    font-size: 15px;
    background-color:rgb(227, 65, 64) ;
    color: rgb(255,255,255);
    text-align: center;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 18px;
  }

  .example:hover{
    cursor: pointer;
    text-decoration: underline;
  }
