p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, arial;
        margin-top: 0;
        margin-bottom: 0;
      }
      body {
        margin: 0;
        padding-top: 80px;
        padding-left: 95px;
        padding-right: 24px;
        background-color: rgb(248, 248, 248);
        margin-bottom: 20px;
      }