.header{
  height: 55px;
 display:flex;
 flex-direction: row;
 justify-content: space-between;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 background-color: white;
 border-bottom-width: 1px ;
 border-bottom-style: solid ;
 border-bottom-color: rgb(195, 191, 191);
 z-index: 100;
}
.left-section{
display: flex;
align-self: center;
}
.hamburger-menu{
  height: 25px ;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo{
  height: 20px;
}
.middle-section{
flex: 1;
margin-left: 70px;
margin-right: 30px;
max-width: 500px;
display: flex;
align-items: center;
}

.search-icon{
  height: 25px;
 
}
.voice-search-icon{
  height: 25px;
 

}
.search-bar{
  flex: 1; 
 padding-left: 10px;
  height: 36px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(196,196,196);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width: 0;
}
.search-bar::placeholder{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, arial;
  font-size: 16px;
}
.search-button{
  height: 39px;
  width: 65px;
  background-color: rgb(240,240,240);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(196,196,196);
  margin-left: -1px;
  margin-right: 10px;
  
}
.search-button, 
.voice-search-button,
.upload-icon-container,
.apps-icon-container,
.notification-icon-container,
.my-channel-container{
  display: flex;
  justify-content: center;
   align-items: center;
  position: relative;
 
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.notification-icon-container .tooltip,
.my-channel-container .tooltip
{
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}


.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip,
.my-channel-container:hover .tooltip
{
  opacity: 1;
}
.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(249,249,249);

}
.right-section{
width: 179.99px;
display: flex;
align-items: center;
justify-content: space-between;
flex-shrink: 0;
}
.upload-icon{
  height: 24px;

}
.apps-icon{
  height: 24px;
}
.notifications-icon{
  height: 24px;
}
.notification-icon-container{
  position: relative;
}
.notification-count{
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(201, 0, 0);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, arial;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 15px;
}
.my-channel{
  height: 32px;
  border-radius: 16px;
  margin-right: 20px;
}
