.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 150;
  padding-top: 5px;
}
.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar-link:hover{
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, arial;
  font-size: 10px;
  

}