.thumbnail{
        width: 100%;
      }
      .thumbnail:hover{
        cursor: pointer;
      }
      .thumbnail:active{
        opacity: 0.00001;
        transition: opacity 1s
      }
      
      .channel1pfp{
        width: 35px;
      border-radius: 50px;
      }
      .channel1pfp:hover{
        cursor: pointer;
      }
       p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, arial;
        margin-top: 0;
        margin-bottom: 0;
      }
      .title{
        margin-top: 0px;
        line-height: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .title:hover,
      .author:hover{
        cursor: pointer;
      }
      .thumbnail-row{
        margin-bottom: 8px;
        position: relative;
      }
      .author,.stats{
        font-size: 12px;
        color:rgb(96,96,96);
      }
      .author{
        margin-bottom: 4px;
      }
      .grid1{
        display: grid;
        grid-template-columns: 50px 1fr;
      }
      .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        column-gap: 16px;
        row-gap: 40px;

      }
      @media (max-width: 750px){
        .video-grid{
          grid-template-columns: 1fr 1fr;
        }
      }

      @media (min-width: 751px) and (max-width: 999px){
        video-grid{
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
      @media (min-width: 1000px){
        .video-grid{
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }}

      .video-time{
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, arial;
        font-size: 12px;
        font-weight: 500;
        padding: 4px;
        border-radius: 2px;
        background-color: black;
        color: white;
        position: absolute;
        bottom: 8px;
        right: 5px;

      }